.announcementsNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  padding-bottom: 0.5rem;
  box-shadow: 0 4px 2px -2px rgba(99, 99, 99, 0.2);
  margin-bottom: 2rem;
}

.addAnnouncementBtn {
  padding: 0.375rem 0.75rem;
  border: none;
  outline: none;
  background-color: #0d6efd;
  color: white;
  border-radius: 0.3rem;
  /* font-size: 16px !important; */
  letter-spacing: 0.03rem;
}

/* <----------------------------- Announcement Searchbar ---------------------------------------> */

.announcementSearchbarContainer {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  position: relative;
}
.announcementSearchbarContainer input {
  width: 20%;
  border: 1px solid black;
  outline: none !important;
  border-radius: 0.25rem;
  margin-right: 10px;
  padding-right: 2.5rem;
}
.announcementSearchbarContainer input:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.announcementSearchIcon {
  position: absolute;
  right: 1.5rem;
  opacity: 0.3;
  top: 0.8rem;
}

/* <------------------------------------------- Announcement Details Table ----------------------------------------------> */
.announcementTableContainer {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: var(--M-plus-font);
}

.announcementTableContainer thead tr {
  color: gray;
}
.announcementTableContainer thead th {
  padding: 12px 12px;
  outline: none;
  font-size: 1.08rem;
}

.announcementTableContainer tbody tr:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}
.announcementTableContainer tbody td {
  padding: 19px 10px;
  font-size: 0.99rem;
}

.announcementTableContainer thead th:last-child {
  width: 10rem;
}

.announcementTableIconDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}
/* .announcementTableIconDiv::after,
.announcementTableIconDiv::before {
    content: "";
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 71%;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.fileTableIconDiv::before {
    left: 25.5%;
} */

.announcementTableContainer tbody tr {
  /* border-bottom: 1px solid #333; */
  /* border-style: solid; */
  font-family: var(--M-plus-font);
  font-size: 0.9rem;
  cursor: pointer;
}

.announcementTableContainer thead {
  border: 2px solid;
}

.announcementTableIconDiv i {
  width: 31px;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  /* background-color: #b1d1e36b; */
  /* padding: 0.5rem; */
  border-radius: 50%;
  color: #406ae8e6;
  cursor: pointer;
  z-index: 5;
}

.announcementTableIconDiv i:last-child {
  color: #5dd39ec2;
}

.announcementTableIconDiv i:first-child {
  color: #f87575;
}

/* <------------------------------- Announcement Data Fields ------------------------------> */

.annoucementsDetailsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 0.5rem;
  place-items: center start;
}

.annoucementCreateUserImage {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(98, 199, 199);
  margin-right: 1rem;
}

.annoucementDetailsContent p {
  margin: 0.3rem 0;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.annoucementDetailsContent p span {
  font-size: 0.8rem;
}

.dot-between-name-time {
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 1rem;
}

.annoucementDetailsContent span {
  font-size: 0.9rem;
  color: blue;
}
.annoucementDetailsContent span:nth-child(2) div {
  border-radius: 50%;
  border: 2px solid black;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.annoucementDetailsContent span:nth-child(2) {
  color: black;
}

.annoucementsDetailsContainer h5 {
  margin: 0;
}

/* <---------------------------------create announcement page-----------------------------------> */

.create-announcement-container {
  margin-bottom: 2rem;
  padding: 2rem;
  height: max-content;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 2rem;
  position: relative;
  /* box-shadow: rgba(135, 200, 226, 0.541) 0px 1px 4px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.create-announcement-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0rem 1rem;
}

.announcementTitleInput {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem !important;
  color: black;
  border: none !important;
  font-size: 1.1rem;
  outline: none !important;
}
.announcementTitleInput:focus {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem !important;
  color: black;
  border: none !important;
  font-size: 1.1rem;
  outline: none !important;
}
.announcementTitleInput::placeholder {
  font-size: 1rem;
  color: black !important;
  font-family: var(--M-plus-font);
  font-weight: 400;
}

.create-announcement-container select {
  width: 10%;
  background-color: transparent !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.announcement-submit-button {
  width: 10%;
}

.create-announcement-container > .fr-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5rem !important;
}
.create-announcement-container > .fr-box > .fr-toolbar {
  border: none !important;
  background-color: #eff1f8;
}

.create-announcement-container > .fr-box > .fr-toolbar > .fr-expanded,
.create-announcement-container > .fr-box > .fr-toolbar > .fr-open {
  border: none !important;
  background-color: #eff1f8;
}

.create-announcement-container > .fr-box > .fr-toolbar .fr-command.fr-btn.fr-open:not(:hover):not(:focus):not(:active) {
  background: transparent;
}

.create-announcement-container > .fr-box > .fr-wrapper {
  border: none !important;
  border-bottom: 1px solid #efefef !important;
  height: 30rem;
  overflow: scroll;
}

.create-announcement-container > .fr-box > .fr-second-toolbar {
  border: none !important;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  display: none !important;
}

.create-announcement-container > .fr-box > .fr-second-toolbar > a {
  display: none;
}

/* <-------------------------------- Announcement view page -------------------------------------> */

.announcementViewDisplay {
  height: 94.5% !important;
  width: 60% !important;
  display: grid !important;
  grid-template-columns: max-content 1fr max-content;
  place-items: center;
  grid-gap: 2.8rem;
  padding: 1rem !important;
  overflow: hidden !important;
}

.showFullPageAnnouncement {
  width: 100% !important;
}
.showFullPageAnnouncement .announcementViewContent {
  width: 70rem !important;
}

.showFullPageAnnouncementWithComment {
  left: 0 !important;
  width: 80.9rem !important;
  animation: moveFullPageWithComment 10s ease-in-out forwards !important;
}

@keyframes moveFullPageWithComment {
  from {
    width: 100vw;
  }
  to {
    width: 80.9rem;
  }
}

.showAnnoucementWithComment {
  animation: moveWithComment 0.4s ease-in-out forwards !important;
}

@keyframes moveWithComment {
  from {
    right: 0%;
  }
  to {
    right: 30%;
  }
}

.announcementUserContent span {
  font-size: 0.8rem !important;
}

.announcementViewDisplay > i {
  background-color: #f8f9fa;
  padding: 0.8rem 1.35rem;
  border-radius: 50%;
  font-size: 1.8rem;
}

.hiddenMovebutton {
  padding: 0.8rem 1.65rem;
  border-radius: 50%;
  font-size: 1.8rem;
}

.announcementViewSection {
  height: 100%;
  width: max-content;
  padding: 1rem;
  display: grid !important;
  grid-auto-rows: max-content;
  place-items: start center;
  grid-gap: 2rem;
  overflow: hidden;
}

.announcementViewContent {
  height: max-content;
  max-height: 45rem;
  width: 50rem;
  padding-bottom: 0 !important;
  word-wrap: break-word;
  overflow: scroll;
}
.announcementViewContent > h1 {
  margin-bottom: 1.5rem !important;
}

.announcementViewFooter {
  place-self: end;
}

.announcementViewNavbar {
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.announcementProfileSection {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 1rem;
  place-items: center start;
}

.announcementUserImage {
  background-color: #2196f3;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.announcementNavbarBtns > i {
  background-color: #f8f9fa;
  padding: 0.8rem;
  border-radius: 50%;
  font-size: 1.1rem;
  margin-left: 0.8rem;
}

/* <---------------------------------- comment pages ----------------------------------------> */

.smallCommentSection {
  height: 95% !important;
  width: 30% !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentsContainer {
  height: 90%;
  width: 80%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  z-index: 10;
}

.commentsIcons i {
  background-color: #f8f9fa;
  padding: 0.8rem;
  border-radius: 50%;
  font-size: 1.1rem;
  margin-left: 0.8rem;
}

.chat-online {
  color: #34ce57;
}

.chat-offline {
  color: #e4606d;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  height: 42rem;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}

.like-message-left {
  display: flex;
  flex-shrink: 0;
  margin-right: auto;
}

.commentDateShow {
  padding: 0.5rem 1rem;
  background-color: cornsilk;
  width: max-content;
  border-radius: 10%;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-weight: 500;
}

.commentMessageUser {
  font-weight: 550;
  font-size: 0.9rem;
}
.comment-message-text p {
  margin: 0 !important;
  font-size: 1rem;
  font-weight: 400;
}

.comment-message-text span {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 0 0.5rem;
  margin: 0.5rem;
}

/* Comment Inputs */

.comment-input-fields {
  display: grid;
  grid-template-columns: auto max-content;
  place-items: center;
  padding: 1rem;
  grid-gap: 1rem;
}
.comment-input-fields > i {
  background-color: #f8f9fa;
  padding: 0.8rem;
  border-radius: 50%;
  font-size: 1.1rem;
}
.comment-input-fields .fr-second-toolbar {
  display: none;
}
.comment-input-fields .fr-quick-insert {
  display: none;
}
.comment-input-fields .fr-placeholder {
  margin-top: 1.1rem !important;
  margin-left: 1rem !important;
}
.comment-input-fields .fr-box {
  display: grid;
  grid-template-columns: auto max-content;
  place-items: center start;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  /* border-radius: 20% !important; */
}
.comment-input-fields .fr-element {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-input-fields .fr-element p {
  margin: 0 !important;
  width: 100% !important;
  word-wrap: break-word;
}
.comment-input-fields .fr-wrapper {
  border: none !important;
  width: 15rem !important;
  padding: 0 1rem !important;
}
.comment-input-fields .fr-newline {
  display: none !important;
}
.comment-input-fields .fr-toolbar {
  float: right;
  width: 5.5rem;
  order: 2;
  border: none;
}
.comment-input-fields .fr-btn-grp {
  margin: 0 !important;
}
.comment-input-fields .fr-popup.fr-active {
  left: -15.5rem !important;
  top: -19rem !important;
}

.comment-input-fields .fr-toolbar .fr-command.fr-btn.fr-open {
  margin: 0 !important;
}

.comment-input-fields .fr-toolbar .fr-more-toolbar.fr-expanded {
  position: absolute !important;
  /* padding-left: none !important; */
  height: max-content !important;
  right: 3rem;
  bottom: 4rem;
  width: 14rem;
  padding: 1rem !important;
  background-color: transparent;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
