.checklist-dropdown-menu{
    height: max-content;
}

.checklist-due-date-div{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-gap: 1rem;
}

.checklist-due-date-div input,
.checklist-due-date-div select{
   border: 1px solid #d5d5d5 !important;
   border-radius: 8% !important;
}

.task-template-due-date-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-template-due-date-div i{
    color: white;
    padding: 0.3rem 0.5rem;
    background-color:rgba(55, 125, 238, 0.74);
    border-radius: 0.3rem;
    font-size: 10px;
}