/*-------------------------------Checkin sidebar css ----------------------------------------*/

.checkinsidebar {
  position: fixed;
  top: 70px;
  right: -40%;
  width: 35%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  -webkit-animation: moveLeft 0.3s ease-in-out forwards;
  animation: moveLeft 0.3s ease-in-out forwards;
  overflow-y: scroll;
  padding: 0.7rem 0.7rem 0.7rem;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.checkinsidebar-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  position: relative !important;
}

.checkinsidebar .keyresultcard {
  height: auto;
  background-color: white !important;
  border: 1px solid #f2f3f7 !important;
  border-radius: 10px !important;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.checkinsidebar-header .closemodel {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #242387;
  top: auto;
}
.keyresultcard .keytitle {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
}
.keyresultcard .keytitle span {
  margin-left: 10px;
  color: #53575e !important;
  font-weight: 500 !important;
}
.key-values {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5px;
}
.key-values .valuecard {
  border-radius: 5px;
}
.card-body {
  padding: 0.5rem !important;
}
.slideTab {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.slideTab a {
  padding: 0.5rem;
  color: rgb(185, 185, 185);
}
.slideTab a:hover {
  color: #132746;
}
.slideTab a:active {
  color: black;
}
.slideTab .active {
  border-bottom: 2px solid #132746;
  color: #132746;
}
.status-dropdown {
  padding: 0 !important;
  margin: 0;
  outline: none !important;
  box-shadow: none !important;
}
.dropdown-toggle::after {
  display: none !important;
}
.statusicon-notstart {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(71, 170, 249);
  margin-right: 8px;
}
.statusicon-risk {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(252, 160, 22);
  margin-right: 8px;
}
.statusicon-trouble {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(192, 57, 43);
  margin-right: 8px;
}
.statusicon-completed {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(22, 160, 133);
  margin-right: 8px;
}
.statusicon-archived {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  background-color: rgb(119, 119, 119);
}
.statusicon-ontracked {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  background-color: rgb(83, 199, 216);
}
.departments-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu {
  border-radius: 10px !important;
  width: 120% !important;
  box-shadow: rgb(0 0 0 / 25%) 0px 10px 10px, rgb(0 0 0 / 22%) 0px 0px 0px;
}
.checkinsidebar .checkin-details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

.statusdropdown {
  box-shadow: 0 12px 28px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 10%), inset 0 0 0 1px rgb(255 255 255 / 50%);
  border: none !important;
  width: max-content !important;
  margin-left: 20px;
}
