/* .Main {
  height: auto;
  border-radius: 00625rem;
  margin-top: 0.0625rem;
} */
.mainOKR {
  width: 98%;
  margin: 15px;
  padding: 0.25rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 5px 2px gray;
}
.all-content {
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  border-radius: 1.25rem;
}
.parent:hover {
  background-color: rgba(10, 4, 4, 0.342);
  min-height: 50px;
  border-radius: 10px;
}
.child:hover {
  background-color: rgba(126, 126, 126, 0.342);
  border-radius: 10px;
}
.all-content:hover .addChild-btn,
.all-content:hover .addSubChild-btn,
.all-content:hover .note-alignment,
.all-content:hover .note-alignment1 {
  display: flex;
}
/* -------------------------------------- INSIDE >> All-content -------------------------------------- */
.name-tree {
  display: flex;
  align-items: baseline;
  flex-grow: 7;
  width: 0%;
  /* text-align: left; */
}
.name-tree1 {
  display: flex;
  align-items: baseline;
  flex-grow: 7;
  width: 0%;
  /* text-align: left; */
}
.name-tree2 {
  display: flex;
  align-items: center;
  flex-grow: 7;
  width: 0%;
  /* text-align: left; */
}
.note-alignment {
  display: none;
  flex-grow: 1;
  /* margin-top: 0.2575rem; */
  margin-right: 1rem;
  color: rgb(136, 136, 136);
  cursor: pointer;
  justify-content: flex-end;
}
.note-alignment1 {
  display: none;
  flex-grow: 1;
  float: right;
  margin-right: 1rem;
  /* margin-top: 1.25rem; */
  color: rgb(136, 136, 136);
  cursor: pointer;
  justify-content: flex-end;
}
.date-time {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  width: 1%;
  align-items: center;
}
.trackSelect {
  flex-grow: 1;
  width: 10%;
  justify-content: center;
  display: flex;
  align-items: center;
}
/* .progress {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  width: 20%;
  align-items: center;
} */

.progressBar {
  flex-grow: 1;
  justify-content: center;
  display: flex;
  width: 20%;
  align-items: center;
}
.progressBar input:focus {
  box-shadow: none !important;
}
.notes,
.alignment,
.tasks {
  margin-right: 10px;
}
.note {
  display: none;
}
.alignment {
  visibility: visible !important;
}

.showRange {
  background-color: rgb(125, 167, 206);
  color: white;
  border: 2px#0366d6 solid;
  width: 50px;
  border-radius: 20px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}
.update {
  display: flex;
  flex-grow: 1;
  float: right;
  align-items: center;
  justify-content: flex-end;
}
.i-pencil {
  color: rgb(67, 122, 211);
  font-size: 0.9rem;
  padding: 0.3rem;
  margin-right: 1rem;
  background-color: white;
  border-radius: 14px;
  box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px, rgb(0 0 0 / 5%) 0px 1px 1px 0px;
  cursor: pointer;
}
.other {
  color: rgb(67, 122, 211);
  padding: 0.3rem;
  margin: 0 5px;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px, rgb(0 0 0 / 5%) 0px 1px 1px 0px;
}
/* -------------------------------------- TREE CREATE -------------------------------------- */
.main-tree {
  margin-left: 25px;
  margin-top: -46px;
  border: 3px solid rgb(136, 136, 136);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  min-height: 64px;
  /* position: absolute; */
}
.connect-tree {
  margin-left: 5px;
  margin-top: -38px;
  border: 3px solid rgb(136, 136, 136);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  height: 45px;
  display: inline-block;
  /* position: absolute; */
}
.child-tree {
  margin-left: -3px;
  /* margin-top: 29px; */
  border: 3px solid rgb(136, 136, 136);
  border-top: 0;
  border-right: 0;
  border-bottom-left-radius: 8px;
  height: 1.2rem;
  width: 25px;
  display: inline-block;
  /* position: absolute; */
}
.main-tree1 {
  margin-left: 55px;
  margin-top: -46px;
  border: 3px solid rgb(136, 136, 136);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  height: 72px;
  /* position: absolute; */
}
.connect-tree1 {
  margin-left: 27px;
  margin-top: -22px;
  border: 3px solid rgb(136, 136, 136);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  height: 31px;
  display: inline-block;
  /* position: absolute; */
}
.connect-tree1-1 {
  margin-left: 5px;
  margin-top: -94px;
  border: 3px solid rgb(136, 136, 136);
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  height: 120px;
  display: inline-block;
  /* position: absolute; */
}
.child-tree1 {
  margin-left: -3px;
  margin-top: 0px;
  border: 3px solid rgb(136, 136, 136);
  border-top: 0;
  border-right: 0;
  border-bottom-left-radius: 8px;
  height: 1.25rem;
  width: 25px;
  display: inline-block;
  /* position: absolute; */
}
.mainOKR:last-child .mainSub:last-child .connect-tree1-1 {
  visibility: hidden;
}
/* ------------------------------------- Fas Fa ICONE -------------------------------------- */
.treeConnectorDot {
  color: #47aaf9;
  margin-top: 10px;
  margin-right: 5px;
}
/* .name-tree1 .treeConnectorDot {
   margin-left: -3px; 
   margin-top: 40px; 
} */
.name-tree2 .treeConnectorDot {
  /* margin-left: 79px; */
  margin-top: -1px;
}
.user {
  cursor: pointer;
}
.addChild-btn {
  color: rgb(136, 136, 136);
  cursor: pointer;
  width: fit-content;
  align-items: flex-start;
  /* position: absolute; */
  margin-left: 20px;
  /* margin-top: -18px; */
  display: none;
}

.addSubChild-btn {
  color: rgb(136, 136, 136);
  cursor: pointer;
  width: fit-content;
  align-items: flex-start;
  /* position: absolute; */
  margin-left: 20px;
  /* margin-top: -18px; */
  display: none;
}
.calender {
  font-size: larger;
  cursor: pointer;
}

/* ------------------------------------- CREATE OKR CSS -------------------------------------- */
.new-okr-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2%;
  width: 98%;
  background-color: white;
  border-radius: 0.4rem;
  box-shadow: 0 0 5px 2px gray;
  margin: 15px;
  font-size: 20px;
  padding: 20px 17px;
}

.new-okr-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.new-okr-title-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
}
.new-okr-title-container input:focus {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 20px;
}

.new-okr-calendar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.6rem;
  border-radius: 3px;
  cursor: pointer;
}

.new-okr-assignee-container {
  height: 1.8rem;
  width: 5rem;
  border-radius: 3px;
  cursor: pointer;
}

.new-okr-calendar-container div {
  border: none;
  outline: none;
  box-shadow: none;
}

.new-okr-save-progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.new-okr-save-button {
  height: 1.1rem;
  width: 5rem;
  justify-content: center !important;
  line-height: 0.9rem !important;
  padding: 0 !important;
}

.new-okr-save-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.new-okr-save-progress-container .progress {
  width: 70%;
}

.new-okr-save-progress-container i {
  font-size: 15px;
  cursor: pointer;
}

.new-okr-calendar-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 1.1rem;
  width: 7rem;
  background-color: grey;
  /* justify-content: center !important; */
  line-height: 0.9rem !important;
  padding: 0 !important;
  outline: none;
  border: none;
  box-shadow: none;
}

.new-okr-calendar-button:focus {
  background-color: grey !important;
  outline: none;
  border: none;
  box-shadow: none;
}

.new-okr-calendar-button:hover {
  background-color: grey !important;
  outline: none;
  border: none;
  box-shadow: none;
}
