.invite-form-div {
  display: grid;
  grid-template-columns: max-content auto;
  height: 100vh !important;
  grid-gap: 2rem;
  margin: 0;
}

.invite-form {
  height: 90vh;
  display: grid;
  grid-auto-rows: max-content;
  width: 75%;
  padding: 0.5rem;
  overflow: scroll;
}

.invite-form > .form-fields {
  margin-left: 1rem;
}
.invite-form-title-header {
  border-bottom: 1px solid rgba(109, 108, 108, 0.548);
  width: 98%;

  padding: 1rem;
}

.invite-form-title-header p {
  font-size: 0.9rem;
  margin: 0;
}

.if-form-control:focus {
  outline: none !important;
  box-shadow: none;
  border: 1px solid rgba(94, 164, 255, 0.979);
}

.if-form-control:hover {
  border: 1px solid rgba(0, 102, 235, 0.979);
}

.two-column-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.three-column-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.invite-form h5 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.invite-form-formLabel {
  font-size: 0.85rem;
}

.invite-form-button {
  background-color: #0d6efd;
  color: white;
  padding: 10px;
  width: 15%;
  cursor: pointer;
  margin: 15px 25px 0 15x;
  float: right;
}

.invalid-feedback {
  margin: 0;
  font-size: 0.8rem;
}

.invite-form-left-view {
  height: 100vh;
  width: 30rem;
  background: #142747;
  color: aliceblue;
}

.invite-form-left-view h1 {
  padding: 2rem;
}

.invite-form-left-view img {
  height: 150px;
  width: 150px;
  margin: 2rem;
  transition: 0.6s;
}

.invite-form-left-view img:hover {
  height: 180px;
  width: 180px;
}

.invite-form-right-view {
  display: grid;
  grid-auto-rows: max-content;
}
