.organisationContainer {
  width: 50%;
  margin: 6% auto;
  font-size: 1rem !important;
}

.profileOrganisation {
  display: grid;
  grid-template-columns: 15% 50% 20%;
  justify-content: space-around;
  flex-direction: row;
}

.organisation-logo{
  height: 150px;
  width: 150px;
}

.organisationDate {
  font-style: italic;
  color: gray;
  font-size: 0.9rem;
}

/* .orgBtn:focus {
  outline: 0 !important;
} */

@media (max-width:520px) {
  .organisationContainer {
    width: 75%;
    margin: 6% auto;
    font-size: small;  
  }

  .profileOrganisation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    gap: 10px;
  }

  .organisation-detail{
    text-align: center;
  }

  .organisation-logo{
    height: 70px;
    width: 70px;
  }
}
