:root {
  --main-color: #146efd;
  --sidemenu-color: #132746;
  --second-color: aliceblue;
  --lato-font: 'Lato', sans-serif;
  --M-plus-font: 'Poppins', sans-serif;
  --poppins-font: 'Poppins', sans-serif;
  --dancing-font: 'Dancing Script', cursive;
}

.add-project-assinee-btn {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 3px;
  user-select: none;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  font-size: 14px;
}

/* <---------------------------------------- Project Sidebar ------------------------------------> */

.project-sidebar-user-symbol {
  width: 30px;
  height: 30px;
  /* background-color: #fff; */
  text-align: center;
  border-radius: 50%;
  cursor: default;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  margin-right: 3px;
  padding-top: 0.3rem;
}

.show-project-connected-user {
  margin: 0.5rem 0;
}

.project-sidebar .react-tags__search {
  padding: 0 !important;
}

.project-sidebar .react-tags__suggestions {
  letter-spacing: 0;
}

/* <------------------------------------- Project Table -----------------------------------------> */
.board-table-container {
  width: 98%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  overflow: scroll;
  height: 715px;
  /* margin-top: 0.5rem; */
  background-color: white !important;
  overflow: auto;
  margin-left: 1%;
}

.board-table-container .react-bootstrap-table {
  padding: 0;
}
.board-table-container .react-bootstrap-table thead th:nth-child(2) {
  width: 36%;
}
.board-table-container .react-bootstrap-table thead th:nth-child(5) {
  width: 15%;
}
.board-table-container .react-bootstrap-table thead th:last-child {
  width: max-content;
}

.project-icons-div {
  position: relative;
}

.task-row-menu-box {
  display: none;
  color: #202124;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  position: absolute;
  z-index: 80;
  width: 159px;
  height: max-content;
  background: #fff;
  padding: 2px;
  overflow: hidden;
  right: 76%;
  top: 80%;
  letter-spacing: 0.2px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px #888;
}

.task-row-menu-box > div {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: max-content auto;
  place-items: center start;
  grid-gap: 0.5rem;
}

/* <--------------------------------------- Project Navbar ------------------------------------> */

.project-nav-link-section a {
  padding: 0.5rem;
  color: rgb(185, 185, 185);
}
.project-nav-link-section a:hover {
  color: var(--sidemenu-color);
}
.project-nav-link-section a:active {
  color: black;
}
.project-nav-hide-btn {
  padding: 1.25rem 4.08rem;
}

.project-nav-link-section .active {
  border-bottom: 2px solid var(--sidemenu-color);
  color: var(--sidemenu-color);
}

/* <-------------------------------------- Project Notes ------------------------------------- */

.project-note-container {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-gap: 1rem;
  height: 48rem;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background: #f6f8f9;
}
.project-note-panel {
  padding: 1rem;
  overflow-y: scroll;
}

.project-note-box {
  display: inline-block;
  padding: 15px 16px 10px;
  width: 180px;
  height: 220px;
  margin: 0 15px 30px 0;
  position: relative;
  cursor: pointer;
  background: #fff;
  /* overflow: hidden; */
  border-radius: 3px;
  -webkit-user-select: none;
  user-select: none;
  border: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15) !important;
  white-space: normal;
  /* float: left; */
}

.project-note-grid-box {
  height: 100%;
  display: grid;
  grid-template-rows: max-content auto max-content max-content;
  /* grid-gap: 0.5rem; */
}
.project-note-grid-box > div:first-child {
  font-size: 15px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.9);
  /* overflow: hidden; */
  font-weight: 500;
}
.project-note-grid-box > div:nth-child(2) {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  margin: 11px 0 0;
  line-height: 17px;
}

.project-note-grid-box > div:nth-child(3) {
  display: inline-block;
  font-size: 11px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 0 3px;
  margin-bottom: 10px;
  background-color: #5d4037;
  width: max-content;
}

.project-note-grid-box > div:nth-child(4) {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-note-grid-box > div:nth-child(4) span {
  left: 40%;
}

.project-note-add-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <----------------------------- Project Note Table ---------------------------------------> */

.project-notebook-table thead tr th:last-child {
  width: 12%;
}
.project-notebook-table tbody tr td,
.project-notebook-table tbody tr {
  border-style: solid !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  height: max-content;
}

.project-notebook-table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
}
.project-notebook-table tbody tr td {
  padding: 0 !important;
}
.project-notebook-table tbody tr td:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.project-notebook-content {
  padding: 8px 5px 8px 0;
  font-size: 97%;
}

.project-notebook-grid-subcontent {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}
.project-notebook-grid-subcontent i {
  font-size: 5px;
  vertical-align: middle;
  margin: 0 5px;
  color: #adadad;
}

.project-notebook-add-button {
  background-color: rgba(165, 165, 165, 0.473);
  color: rgb(92, 86, 86);
  margin: 0 1rem;
  border: none;
  outline: none;
  width: 90%;
  padding: 0.5rem;
  margin-top: 1rem;
}

/* <-------------------------------------- Project Note Modal ----------------------------------> */

.project-notebook-popup-container .modal-dialog {
  max-width: max-content !important;
}

.project-notebook-popup-box {
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 1rem;
  margin-inline: auto;
  width: 40rem;
}
.project-notebook-popup-box > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}

.project-notebook-popup-box div:nth-child(2) label {
  display: block;
  margin-bottom: 0.5rem;
}
.project-notebook-popup-box div:nth-child(2) input {
  width: 100%;
  color: #202124;
  padding: 7px 10px 7px;
  background-color: #fff;
  border-radius: 5px;
  font: 400 14px/20px Roboto, Helvetica, Arial, sans-serif;
  min-height: 34px;
  border: 1px solid #d2d2d2;
}
.project-notebook-popup-box div:last-child button {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  box-shadow: 0px 0px 0 1px #e2e2e2 inset !important;
  padding: 6px 8px;
  min-width: 75px;
  margin-right: 0.5rem;
  border: none;
  outline: none;
  font-weight: 400 !important;
}

.project-notebook-popup-box div:last-child button:first-child {
  background-color: #2a72ddd2 !important;
  color: white;
}

.project-notes-title-div {
  display: flex;
  width: 100%;
  color: #202124;
  background-color: #fff;
  border-radius: 5px;
  font: 400 14px/20px Roboto, Helvetica, Arial, sans-serif;
  min-height: 34px;
  border: 1px solid #d2d2d2;
  position: relative;
}
.project-notes-title-div input {
  border: none !important;
  border-left: 1px solid #d2d2d2 !important;
}

.project-notes-title-div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.3rem;
}
.project-notes-title-div i {
  padding: 0.3rem;
}

#note-color-box {
  display: block;
  display: block;
  top: 115%;
  right: 75%;
  padding: 0.5rem;
  height: max-content;
}

/* <-------------------------------- Project File Sidebar -------------------------------------> */

.project-file-container {
  display: grid;
  grid-template-columns: 1.5fr 5fr;
  grid-gap: 1rem;
  height: 48rem;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background: #f6f8f9;
}

.project-folder-header-div {
  padding: 1rem;
  font-size: 16px;
  display: grid;
  grid-template-columns: max-content max-content auto;
  grid-gap: 0.5rem;
  padding-bottom: 0.5rem;
  place-items: center start;
}

.project-folder-header-div i:nth-child(2) {
  font-size: 20px;
}

.project-folder-content {
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-gap: 0.5rem;
  place-items: center start;
  font-size: 16px;
  font-weight: 500;
}
.project-folder-content span {
  font-size: 12px;
  font-weight: 300;
}

.project-file-table {
  margin-left: 2.5rem !important;
}

.project-file-table thead tr th {
  padding: 0 !important;
}
.project-file-table thead tr th:first-child {
  width: 80%;
}

.project-all-file-div {
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: 1rem;
  place-items: center start;
  font-size: 16px;
  font-weight: 500;
  margin-left: 2.2rem;
}
.project-all-file-div i {
  font-size: 20px;
  padding: 0.5rem 0;
}

/* <----------------------------------- Project File -----------------------------------> */

.project-file-box {
  display: inline-block;
  width: max-content;
  height: 220px;
  margin: 0 20px 30px 20px;
  position: relative;
  cursor: pointer;
  background: transparent;
  /* overflow: hidden; */
  border-radius: 3px;
  -webkit-user-select: none;
  user-select: none;
  border: 0;
  white-space: normal;
  /* float: left; */
}

.project-file-grid-box {
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 0.1rem;
  width: max-content;
}

.project-file-grid-box > div:first-child {
  width: 130px;
  height: 130px;
  padding: 1px;
  position: relative;
}
.project-file-grid-box > div:nth-child(2) {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
}
.project-file-grid-box > div:first-child > img {
  height: 100%;
  width: 100%;
}
.project-file-grid-box > div:first-child > div {
  position: absolute;
  top: 78%;
  left: 80%;
}
.project-file-grid-box > div:first-child > div > .task-row-menu-box {
  top: 70%;
  left: 6%;
}
.project-file-grid-box > div:nth-child(3) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  color: #4285f4;
}
.project-file-grid-box > div:nth-child(4) {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.project-file-add-box {
  font-size: 2.5rem;
  padding: 0;
  width: max-content;
  margin: 0 20px 30px 20px;
  background: transparent;
  border-bottom: none !important;
}
.project-file-add-box > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  padding: 1px;
  background: white;
}

/* <-------------------------------- Project File Popup box ----------------------------> */

.project-file-upload-field label {
  border: 1px dashed rgba(177, 173, 173, 0.705);
  width: 100%;
  height: 10rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: rgb(185, 185, 185);
}
.project-file-upload-field input {
  display: none !important;
}

.project-upload-file-dropdown {
  width: 27%;
  border: 1px solid rgba(182, 181, 181, 0.596);
  place-items: center start;
}
.project-upload-file-dropdown label {
  padding: 0.3rem 0.5rem;
  place-self: center start;
}
.project-upload-file-dropdown label i {
  margin-right: 0.3rem;
}
.project-upload-file-dropdown div > i {
  padding-left: 0.6rem;
  height: 100%;
}

.project-upload-dropdown-menu {
  position: relative;
}

.project-file-upload-menu {
  display: block !important;
  right: 5%;
  margin-top: 0.5rem;
}

.project-file-folder-selection {
  display: flex;
  flex-direction: column;
}
.project-file-folder-selection select {
  width: 100%;
  color: #202124;
  padding: 7px 10px 7px;
  background-color: #fff;
  border-radius: 5px;
  font: 400 14px/20px Roboto, Helvetica, Arial, sans-serif;
  min-height: 34px;
  border: 1px solid #d2d2d2;
  outline: none;
}

/* <----------------------------- Project Calender ------------------------------------> */

.project-calender-popup-container {
  font-size: 14px;
  grid-gap: 0.5rem;
}
.project-calender-popup-container .form-label {
  margin-bottom: 0;
}

.project-calender-popup-container input,
.project-calender-popup-container textarea,
.project-calender-popup-container select {
  width: 100%;
  color: #202124;
  padding: 7px 10px 7px;
  background-color: #fff;
  border-radius: 5px;
  font: 400 14px/20px Roboto, Helvetica, Arial, sans-serif;
  min-height: 34px;
  border: 1px solid #d2d2d2;
}

.project-calender-datepicker-div {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-gap: 1.5rem;
  width: 60%;
  place-items: center;
}

.project-calender-select-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  place-items: center;
}

.project-calender-select-div > div {
  width: 100%;
}

.project-calender-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1%;
  width: 98%;
}

.rbc-header {
  text-align: right;
  padding: 4px 6px 4px;
  white-space: nowrap;
  text-indent: 5px;
  color: #999;
  font-weight: 400;
  font-size: 12px;
  background: #ececec;
  font-family: 'Courier New', Courier, monospace;
}

.project-calender-container .rbc-row-content {
  z-index: 0 !important;
}

.project-calender-container thead,
.project-calender-container tbody,
.project-calender-container thead tr,
.project-calender-container tbody tr,
.project-calender-container thead th,
.project-calender-container tbody td {
  border-style: solid !important;
}

.project-calender-container tbody td .fc-day-today {
  background: #eff9fc !important;
}

/* <---------------------------------------- Project Page ----------------------------------------> */

.add-project-page-container {
  height: 58rem;
}

.add-project-page-container .create-announcement-header {
  padding-left: 0rem;
}

.add-project-page-container .announcement-submit-button {
  width: 8rem;
  margin: 0 1.5rem;
}

.add-project-page-container .tox {
  height: 45rem !important;
}
.add-project-page-container .tox-statusbar {
  display: none !important;
}

.page-input-field {
  width: 85%;
  background-color: transparent;
  border: 2px solid rgba(211, 211, 211, 0.329);
  border-radius: 0.5rem;
  outline: none;
}
.page-input-field:focus {
  box-shadow: none;
  border-bottom: 2px solid rgba(211, 211, 211, 0.329);
  border-radius: 0.5rem;
  outline: none;
}

.project-pages-table {
 width: 80%;
 margin-inline: auto;
}
.project-pages-table thead{
  display: none;
}
.project-pages-table tbody td:first-child {
  width: 90%;
}

.project-pages-content{
  grid-template-columns: max-content max-content auto;
}

.project-page-view-container{
  grid-template-columns: auto;
  width: 100% !important;
}
.project-page-view-container > div{
  width: 100% !important;
}
