.main-part {
  display: grid;
  grid-template-columns: 82% 18%;
}

.right-sidebar {
  height: 80vh;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.template-option {
  height: 3rem;
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.35s;
}

.template-option:hover {
  background-color: rgb(233, 233, 233);
}

.template-option > img,
.template-sub-option > img {
  margin-right: 1.25rem;
  padding-left: 1rem;
  cursor: pointer;
}

.template-sub-option {
  height: 2.6rem;
  display: grid;
  font-size: 0.85rem;
  grid-template-columns: 18% 82%;
  align-items: center;
  text-align: start;
  transition: 0.35s;
  cursor: pointer;
}

.template-sub-option:hover {
  background-color: rgb(233, 233, 233);
}

.main-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  justify-content: flex-start;
  font-family: var(--lato-font);
}

.main-div > form {
  /* height: 80vh;0 */
  margin-left: 3%;
  width: 92%;
}

h3 {
  text-align: left;
}

i {
  cursor: pointer;
}

.newSalaryTemplate {
  padding: 0.3rem;
  width: 75%;
  margin-left: 3rem;
}
.sub-div {
  margin-top: 2rem;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 2rem;
  font-family: var(--lato-font);
}
.input-group-text {
  height: 40.25px;
}
.number-input {
  width: 120px;
}
.form-control:focus {
  outline: none !important;
}

.check-button-group {
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.form-check-label {
  margin-left: 0.2rem;
}
.search-label {
  float: right;
  margin-right: 10rem;
}
.button-group {
  display: flex;
  justify-content: space-between;
  float: right;
  margin: 1rem;
}
.view-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon {
  cursor: pointer;
}

.overview-header {
  /* height: 4rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
  /* margin-bottom: 2rem; */
}

.require-icon {
  font-size: x-small;
  color: red;
}

.small-text {
  font-size: 0.8rem;
}

.red-text {
  color: red;
}

.view-template {
  height: 100vh;
}

/* ________________________________________________________ICON CSS_____________________________________________________________________ */

.i-trash,
.i-eye {
  margin-right: 1rem;
  font-size: 0.8rem;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding: 0.4rem;
  border-radius: 50%;
  color: #406ae8e6;
  cursor: pointer;
}

/* .icon-btn {
  text-align: end;
  width: 100%;
  display: flex;
  justify-content: space-around;
} */

/* .icon-btn i {
    margin-right: 1.5rem;
    font-size: 1.1rem;
  
    border-radius: 50%;
    color: #5dd39ec2;
    cursor: pointer;
    z-index: 5;
} */

/* .icon-btn i:last-child{
  color: #F87575;
}

.Template-table tbody td:last-child{
  position: relative;
}

.icon-btn::after,.icon-btn::before {
  content: "";
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: absolute;
  top: 14%;
  left: 14.5%;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.icon-btn::before{
  left: 64%;
} */

.i-trash {
  color: #f87575;
}
.i-pencil {
  color: #5dd39ec2;
}

/* __________________________________________________________TABLE CSS_____________________________________________________________________ */

.Template-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  font-family: var(--lato-font);
}

.Template-table thead th {
  color: grey;
  padding: 12px 0px;
  outline: none;
  text-align: center;
  text-align: center;
}

.template-table tbody tr:hover {
  background-color: rgb(244, 250, 255);
}

.Template-table tbody td {
  padding: 1rem 0.2rem;
  font-size: 0.95rem;
  text-align: center;
}

.Template-table tbody td:last-child {
  width: 10px;
}

.Template-table thead .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.Template-table thead .dropup .caret,
.Template-table thead .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: '';
}

.Template-table > thead > th {
  border-bottom: 1px solid black;
}
thead > th {
  border-bottom: 1px solid black;
}

.page-title {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #5a5a5a;
}

.temp-btn-save {
  margin-left: 0.5rem;
  box-shadow: rgba(25, 124, 238, 0.479) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.temp-btn-cancle {
  margin-left: 0.5rem;
  box-shadow: rgba(155, 155, 155, 0.616) 0px 6px 12px -2px, rgba(0, 0, 0, 0.863) 0px 3px 7px -3px;
}
.temp-input:focus {
  outline: none !important;
  box-shadow: none;
}

/* actual Salary.css */
.salary-table {
  border-collapse: collapse;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  position: relative;
}
.dropdown-div {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: -2;
  height: 10rem;
}

.show {
  top: 0;
  right: 0;
}
.right-check .form-check {
  display: flex;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
  align-items: center;
}
.salary-dropdown {
  width: 25%;
}
.vertical-line {
  border-left: 1px solid grey;
  height: 500px;
  width: 1px;
}
.salary-note {
  background: #ffe699;
  padding: 0.5em;
  text-align: center;
  margin: 0;
}
/* actual Salary.css */
