.salaryDetailsContainer {
  padding: 1em;
}

.salaryDetailsNav {
  width: 100%;
}
.salaryDetailsNav .salaryDetailsNavContainer {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.sdNavLink {
  color: inherit;
  text-decoration: inherit;
}

.salaryDetailsNav .salaryDetailsNavContainer li {
  list-style: none;
  padding: 10px;
  margin-inline: 10px;
  cursor: pointer;
}

.salaryDetailsNav hr {
  margin: 0;
  width: 100%;
}
.salaryDetailsNav .salaryDetailsNavContainer .sdActive {
  border-bottom: 2px solid var(--main-color);
}

.salaryDetailsViewcontainer h6 {
  font-weight: 600;
  font-family: var(--M-plus-font);
  margin-bottom: 2px;
}

.salaryDetailsViewHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14%;
}

.salaryDetailsViewHeader span i {
  margin-right: 1.5rem;
  font-size: 1rem;
  background-color: #b1d1e36b;
  padding: 0.5rem;
  border-radius: 50%;
  color: #406ae8e6;
  cursor: pointer;
}

.salaryDetailsTableViewContainer {
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 5px;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 100%;
}

.salaryDetailsTableViewHeader {
  display: grid;
  grid-template-columns: 35rem 27rem 1fr;
  gap: 3rem;
}
.salaryDetailsTableViewHeader p {
  margin: 0;
  padding: 0.5em;
  font-size: 0.8rem;
  color: #686868;
  font-weight: 600;
}

.salaryDetailsTableViewHeader p:nth-child(2) {
  text-align: right;
}

.salaryDetailsTableViewHeader p:last-child {
  text-align: right;
}

.salaryDetailsTableViewContainer hr {
  margin: 0;
  width: 100%;
}

.salaryDetailsViewContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.salaryDetailsViewContainer .salaryRowDetails,
.salaryDetailsViewContainer .epfAdminCharge,
.salaryDetailsViewContainer .ctcView,
.salaryDetailsViewContainer .edliContribution {
  display: grid;
  grid-template-columns: 35rem 27rem 1fr;
  gap: 3rem;
}

.salaryDetailsViewContainer .salaryRowDetails p:nth-child(2),
.salaryDetailsViewContainer .epfAdminCharge p:nth-child(2),
.salaryDetailsViewContainer .ctcView p:nth-child(2),
.salaryDetailsViewContainer .edliContribution p:nth-child(2) {
  text-align: right;
}

.salaryDetailsViewContainer .salaryRowDetails p:last-child,
.salaryDetailsViewContainer .epfAdminCharge p:last-child,
.salaryDetailsViewContainer .ctcView p:last-child,
.salaryDetailsViewContainer .edliContribution p:last-child {
  text-align: right;
}

.ctcView p {
  font-weight: 600;
}
.earnAndDeduction p {
  font-weight: 600;
}

.detailsTag {
  font-size: small;
  font-weight: 130;
}
.incomeDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.incomeDetailsType {
  font-weight: 200;
  font-size: small;
}
.incomeDetailsAmount {
  font-weight: 500;
  font-size: medium;
}

.salaryTemplateContainer i {
  opacity: 0.5;
  margin-right: 0.5rem;
}
.salaryTemplateContainer span {
  font-weight: 550;
}
.salaryTemplateContainer p {
  font-weight: 250;
}

.onlyDetails {
  display: flex;
  width: 35rem;
  justify-content: space-between;
}
