/* --------------------------------------------Creating SideBarToggle CSS-------------------------------------------------*/
.dashboardBtn {
  background-color: blue;
  padding: 0.5rem 1.3rem;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  float: center;
  margin-top: 10px;
  margin-right: 20px;
}
.sideBar {
  background-color: white;
  top: 74px;
  bottom: 0;
  width: 554px;
  animation: moveLeft 0.3s ease-in-out forwards;
  float: right;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.fly_joiner {
  margin-top: 4px;
  margin-left: 2px;
}
.sidebar-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  background-color: lightgray;
  position: absolute;
}
@keyframes moveLeft {
  from {
    right: -40%;
  }
  to {
    right: 0;
  }
}
.sidebar-header p {
  margin: 0;
  font-size: 1.1rem !important;
  margin-left: 25px;
}
.sidebar-header p strong {
  color: navy;
  font-weight: bold;
}
.sidebar-header .closeModel {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #242387;
  top: auto;
}
.sidebar-header .closeModel:hover {
  color: blue;
}
.sideBar-type {
  height: 80px;
}
.dropdown-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  cursor: pointer;
}
.dropdown-list:hover {
  background-color: #eff4f7;
}
.sideBar-type1 {
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 30px;
}
.key {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.span-key {
  color: #8ba1b4;
}
.sidebar-type2 {
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 36%;
}
.sidebar-type3 {
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 400px;
}
.sideBar-Type4 {
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-left: 300px;
}
#calendarIcon {
  margin: 7px;
  cursor: pointer;
}
.sideBar-KRType {
  display: flex;
  justify-content: flex-start;
  column-gap: 50px;
}
.sideBar-KRType p {
  margin: 0;
}
.tag {
  margin-top: 33%;
  margin-left: 25px;
}
.Location {
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 5%;
}
#circlelocation {
  border: 2px solid grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#circleaddfre {
  border: 2px solid grey;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-top: 25px;
  margin-left: 20px;
}
.fa-plus {
  margin-top: 2px;
  margin-left: 4px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.keyresult-drop-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 165px;
  right: 330px;
  width: fit-content;
  height: 15%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px rgb(240, 234, 234);
  z-index: 111;
  animation: moving 0.3s ease-in-out;
}
@keyframes moving {
  from {
    right: 0;
  }
  to {
    right: 330px;
  }
}
.keyresult-drop-down span {
  margin: 20px;
}
#circletag {
  border: 2px solid grey;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 30;
}
.fa-user {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.frequency {
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.fa-plus {
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
#circlelocation .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 30%;
  margin-left: -74px;
}
#circlelocation:hover .tooltiptext {
  visibility: visible;
}
.fa-plus .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -11px;
  left: 26px;
}
.fa-plus:hover .tooltiptext {
  visibility: visible;
}
.fa-tags .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 534px;
  left: 36px;
  margin-left: -30px;
}
.fa-tags:hover .tooltiptext {
  visibility: visible;
}
.Icons .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 51px;
  left: 9px;
  margin-left: -30px;
}
.Icons:hover .tooltiptext {
  visibility: visible;
}
.SearchAssignee {
  text-decoration: none !important;
}
#circle {
  border: 2px solid grey;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circle2 {
  border: 2px solid rgb(47, 47, 111);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circle3 {
  border: 1px solid rgb(47, 47, 111);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#percentSign {
  margin-bottom: 5px;
  margin-left: 3px;
}
::placeholder {
  font-size: 2fpx;
  color: rgba(189, 178, 178, 0.583);
  margin-left: 25px;
}
.key-result {
  margin-left: 35px;
  margin-top: 23px;
}
.textareaKeyResult {
  white-space: pre-wrap;
  resize: none;
  border: 2px solid rgba(189, 178, 178, 0.583);
  width: 93%;
  overflow-y: scroll;
  outline: none;
  box-shadow: none !important;
}
.editor {
  margin-left: 35px;
  height: 100px;
  margin-right: 35px;
}
.searchSequence {
  cursor: pointer;
  color: blue;
}
.searchSequence:hover {
  color: red;
}
.sidebar-user {
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  margin-top: 120px;
  margin-left: 4%;
}
.display-frequency {
  border: 1px solid rgb(172, 169, 169);
  margin-top: 5px;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}
.display-frequency:hover {
  background-color: rgb(201, 193, 193);
}
.toggle-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 55%;
}
.percentage-track {
  cursor: pointer;
}
.frequency {
  margin-left: 5px;
  color: rgb(92, 192, 225);
}
ul {
  list-style-type: none;
}
.nonMeasurable_label {
  color: #8ba1b4;
}
.sidebar-btn {
  background-color: blue;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 16px;
  text-align: center;
}
/*  ----------------------------------Sequence Modal CSS ----------------------------------*/
.sequence span {
  margin-left: 150px;
  font-size: medium;
  font-weight: bold;
}
.sequencelabel span {
  font-size: medium;
  font-weight: bold;
  margin-left: 100px;
}
.sequence input {
  border: 2px solid rgb(204, 199, 199);
  border-radius: 10px;
  width: 100%;
  outline: none;
  box-shadow: none !important;
}
.sequence {
  width: 40%;
}
.sequence ::placeholder {
  font-size: 15px;
  color: black;
}
.sequence-main {
  display: flex;
  width: 100%;
}
.create-Sequence-Modal {
  width: 800px;
  margin: auto;
}
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*--------------------------------Creating a Milestones---------------------------------*/
.milestone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.milestone input {
  border: 2px solid rgb(204, 199, 199);
  border-radius: 5px;
  outline: none;
  box-shadow: none !important;
}
.milestone :nth-child(3) {
  width: 50%;
}

.milestone2-box {
  position: relative;
}
.milestone2-box input {
  display: block;
  border: 2px solid rgb(204, 199, 199);
  width: 100%;
  box-shadow: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.milestone2-box .unit {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  left: 85%;
  top: 2px;
  width: 28px;
  font-size: large;
  font-weight: bold;
  background: rgb(230, 230, 230);
  height: 37px;
  align-items: center;
}
.vertical-line {
  border-left: 6px solid green;
  height: 50px;
}

.addMilestone {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

.addMilestone[disabled] {
  color: grey;
}
.milestone .deletemilestone {
  cursor: pointer;
  color: red;
}
.milestone .nodeletemilestone {
  color: white;
}
.switch-icon {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 60%;
}
.switch-icon .switch-label {
  font-size: 15px;
  font-weight: bold;
  color: #29278d;
}
.workflowimg {
  height: 60px;
  width: 18px;
  margin-top: -18px;
}
.percentageinput {
  pointer-events: none;
}
.milestoneerrormsg {
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
  float: left;
  padding: 10px 30px;
  color: #cc0033;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 25px 0 0 25px;
}
