.side-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background-color: #132746;
}
.opened {
  width: 220px;
}
.side-menu .side-box-container {
  width: 160px;
  position: absolute;
  left: 55px;
  height: max-content;
  background-color: white;
  display: none;
  flex-direction: column;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin-top: -23px;
}
.side-menu .side-menu-item:hover .side-box-container {
  display: flex;
}
.side-menu .side-box-container > * {
  margin: 3px 0 0 0;
  padding: 7px;
  font-weight: 400;
}
.side-menu .side-box-header {
  background-color: #f0f0f0;
  border-radius: 5px;
}
.side-menu .side-box-item {
  color: black;
  text-decoration: none;
}
.side-menu .side-box-item:hover {
  background-color: rgba(238, 232, 232, 0.972);
}
.side-menu .expander {
  position: absolute;
  display: block;
  right: 5px;
  top: 10px;
  color: white;
  font-weight: bold;
}
.side-menu .side-menu-item {
  color: white;
  margin: 12px 0;
  text-decoration: none;
}
.side-menu .side-menu-item:hover {
  padding-right: 30px;
}
.side-menu .container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 50px;
  color: #f0f8ff;
  font-weight: 200;
}
.side-menu .data-left {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.side-menu .internal-sub-menu {
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  margin-top: 20px;
}
.side-menu .internal-sub-item {
  color: #f0f8ff;
  text-decoration: none;
  margin: 15px 0;
}
.side-menu .data-left-opened {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.side-menu .internal-item-right {
  margin-left: 20px;
}
.side-menu .link-active {
  background-color: rgba(200, 200, 200, 0.3);
  padding: 7px;
  border-radius: 5px;
  font-weight: 100;
}
.side-menu .bold-font {
  font-weight: 350;
}
.side-menu .arrow {
  position: absolute;
  right: 30px;
  padding-left: 100px;
}
