@import "./sideMenu.css";
@import "./rightBody.css";
@import "./topNav.css";
@import "./restBody.css";
@import "./profileDropDown.css";

.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainPart {
  /* position: absolute; */
  width: 100% !important;
  height: 100% !important;
  left: 15%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 0 !important;
  padding-bottom: 0rem;
  transition: 0.3s;
}

.layout-content {
  min-height: 88vh;
  /* padding-left: 1rem;
  padding-right : 1rem; */
}

.gridStyle {
  /* position: relative */
  display: grid;
  grid-template-columns: max-content auto;
  height: 100vh !important;
  margin: 0;
}


/* .mainPart {
  width: 83%;
  left: 17%;
} */
